<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practiceandroidapi">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- bluetooth（BLE）対応端末にのみインストール可能設定 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/welcome_page_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimerActivity"
            android:label="@string/timer_page_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BLEActivity"
            android:label="BLE"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PageAActivity"
            android:label="Page A"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PageBActivity"
            android:label="Page B"
            android:parentActivityName=".PageAActivity" />
        <activity
            android:name=".PageCActivity"
            android:label="Page C"
            android:parentActivityName=".PageBActivity" />
        <activity
            android:name=".ChartActivity"
            android:label="Chart"
            android:parentActivityName=".MainActivity"
            >
        </activity>
    </application>

</manifest>